.principal{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction:column;
}

.parteDeCima{
    height: 55vh;
    width: 100%;
    display: inline;
    background-color: rgba(0, 255, 255, 0.815);
}

.parteDeBaixo{
    height: 45vh;
    width: 100%;
    display: flex;
    background-color: rgb(87, 202, 41); 
}

.parteDeBaixoNovo{
    height: 45vh;
    width: 100%; 
}

.texto{
    height: 5vh;
    width: 100%;
    display: inline;
}

.inputInfo{
    height: 5vh;
    width: 100%;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    
}

.box {
    height: 5.5vh;
    width: 71%;
    display: flex;
    border: 2px solid black;
    border-radius: 40px;
}

.butaoEnviar {
    justify-content: center;
    align-items: center;
    display: flex;
}

footer{
    height: 5vh;
    width: 100%;
    background-color: rgb(87, 202, 41);
}